<div class="min-h-screen hero-gradient">
  <%= render 'home/sections/hero_section' %>
  <%= render 'home/sections/phantom_stats_section' %>
  <%= render 'home/sections/global_partners_section' %>
  <%= render 'home/sections/core_features_section' %>
  <%= render 'home/sections/live_demo_section' %>
  <%= render 'home/sections/industry_use_cases_section' %>
  <%= render 'home/sections/testimonials_section' %>
  <%= render 'home/sections/pricing_plans_section' %>
  <%= render 'home/sections/special_offers_section' %>
  <%= render 'home/sections/call_to_action_section' %>
  <%= render 'home/sections/community_section' %>
  <%= render 'home/sections/newsletter_section' %>
  <%= render 'home/sections/infrastructure_section' %>
</div>
